@using ArenaStars.Models
@model ArenaStars.Classes.ViewUser

@{
    ViewBag.Title = Model.Username + " - Profile";
    string rankPic = "/Images/Rank/" + Model.Rank + ".png";
    string levelPic = "/Images/Level/Level" + Model.Level + ".png";
    string countryPic = "/Images/Country/" + Model.Country + ".png";
    string regionPic = "/Images/Country/" + "Earth" + ".png";
}

<link rel="stylesheet" type="text/css" href="~/Content/Custom_CSS/Profile.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Custom_CSS/Tournament.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Custom_CSS/GameSheet.css" />

<div class="container white">

    <!-- Big background image -->
    <div class="row">
        <div class="big-background col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-image: url(@Model.BackgroundPic)"></div>
    </div>
    <!-- "Fake" mini navbar and profile picture -->
    <div class="row">
        <div class="fakeNavBar col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="profilePictureContainer" class="profilePicture col-lg-3 col-md-3 col-sm-5 col-xs-8">
                <img src="@Model.ProfilePic" alt="profile pic" class="img-responsive" />
            </div>
            @*<span class="fakeNavBarItem col-lg-1 col-md-1 col-sm-1 col-xs-2">OVERVIEW</span>*@
            <span class="fakeNavBarItem col-lg-1 col-md-2 col-sm-2 col-xs-2">OVERVIEW</span>
            <span class="fakeNavBarItem col-lg-1 col-md-1 col-sm-1 col-xs-2">STATS</span>
        </div>
    </div>

    <h5>GENERAL STATS</h5>
    <div class="row">
        <div class="generalStatsBox col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="row">
                <div class="statsBoxItem col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <span class="statsBoxItemText statsBoxCenter">
                        <b>Rankings</b>
                    </span>
                </div>

                <div class="statsBoxItem col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <span class="statsBoxCenter statsBoxWithImg col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="@countryPic" class="img-responsive" style="display:inline" />: #@Model.placeInCountry
                        <b>@Model.Country</b>
                    </span>
                </div>

                <div class="statsBoxItem col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <span class="statsBoxCenter statsBoxWithImg col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="@regionPic" class="img-responsive" style="display:inline" />: #@Model.placeInWorld
                        <b>World</b>
                    </span>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="statsBoxItem col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <img src="@levelPic" class="img-responsive" style="display:inline" />
                    <span class="statsBoxItemText statsBoxMatchesText">
                        <b>@Model.GamesCount</b> <br />
                        Matches
                    </span>
                </div>

                <div class="statsBoxItem col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <span class="statsBoxMainItem">
                        <b>@Model.winPercentage</b> <br />
                        Win Rate %
                    </span>
                </div>

                <div class="statsBoxItem col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <span class="statsBoxMainItem">
                        <b id="lastFiveGamesScore">@Model.LastFiveGamesScore</b> <br />
                        Recent Results
                    </span>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="statsBoxItem col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <img src="@rankPic" class="img-responsive" />
                    <span class="statsBoxItemText">
                        <b>@Model.Rank</b> <br />
                        League
                    </span>
                </div>
            </div>
        </div>
    </div>
    

    <div id="userInfo" class="profileTease">
        <p>Username: @Model.Username</p>
        <p>Email: @Model.Email</p>
    </div>

    <h3>Tournament History</h3>
    <div class="newTournaments">

    </div>
    <br />
    <button id="showMoreTournamentsButton">SHOW MORE</button>
    
    <div class="gameHeader row col-lg-12">
        <div class="dateMargin col-lg-1 col-md-1 col-sm-1 col-xs-2"><h4>Date</h4></div>
        <div class="typeMargin col-lg-1 col-md-2 col-sm-2 col-xs-2"><h4>Type</h4></div>
        <div class="resultMargin col-lg-1 col-md-1 col-sm-2 col-xs-2"><h4>Result</h4></div>
        <div class="scoreMargin col-lg-1 col-md-3 col-sm-2 col-xs-2"><h4>Score</h4></div>
        <div class="mapMargin col-lg-1 col-md-1 col-sm-2 col-xs-2"><h4>Map</h4></div>
    </div>
    
    <div id="gameList" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    </div>
    <br />
    <button id="showMoreGamesButton">SHOW MORE</button>

</div>




<script src="~/Scripts/GetTournamentsJS.js"></script>
<script src="~/Scripts/GetGamesJS.js"></script>
<script src="~/Scripts/ProfileJS.js"></script>