@model ArenaStars.Models.Tournament
@using ArenaStars.Models;
@{
    ViewBag.Title = "Tournaments";
    <link href="~/Content/Custom_CSS/Tournament.css" rel="stylesheet" />
}

<div class="white">
    <h2>Tournaments</h2>
    @foreach (Tournament t in ViewBag.Tournaments)
    {
        <div id="@t.Id" class="tournamentList" >
            @if (t.IsLive)
            {
                <div>
                    <span class="bold" id="tLive">LIVE</span>
                </div>
            }
            else if (t.HasEnded)
            {
                <div>
                    <span class="bold" id="tHasEnded">ENDED</span>
                </div>
            }
            else
            {
                <div>
                    <span class="bold">STARTS</span> <br />
                    <span>@t.StartDate.Value.Day @t.StartDate.Value.ToString("MMM") - @t.StartDate.Value.ToShortTimeString()</span>
                </div>
            }
            <div>
                <span class="bold">NAME</span><br />
                <span>@t.Name</span>
            </div>
            <div>
                <span class="bold">TYPE</span><br />
                <span>@t.Type</span>
            </div>
            <div>
                <span class="bold">RANKS</span><br />
                <span>@t.MinRank - @t.MaxRank</span>
            </div>
            <div id="participants">
                <span class="glyphicon glyphicon-user"></span><br />
                <span>@t.Participants.Count / @t.PlayerLimit</span>
            </div>
        </div>
    }
</div>


<script src="~/Scripts/TournamnetInfo.js"></script>