@using ArenaStars.Models;
@model List<ArenaStars.Classes.ViewTournament>
@{
    //int reportNum = 1;
    ViewBag.Title = "ArenaStars";
    <link href="~/Content/Custom_CSS/HomePage.css" rel="stylesheet" type="text/css" />
}

<div class="white homePageContent">
    @*<h2>Välkommen till ArenaStars!</h2>*@
    <div id="goodPopupBox" class="text-success"></div>
    <div id="matchmakingButtonContainer">
        <div>
            @if ((bool)Session["isLoggedIn"] == true)
            {
                <div id="matchmakingButton" class="btn btn-warning" style="display:none;">Search for game</div>
                <div id="stopMatchmakingButton" class="btn btn-danger" style="display:none;">Cancel Search</div>
            }
            else
            {
                <div class="btn btn-danger">Login to play</div>
            }
        </div>
    </div>
    <div id="matchmakingErrorBox" style="color:red;"></div>
    <div id="ranks">
        <div>
            <span><img src="~/Images/Rank/Unranked.png" /></span>
            <span>Unranked</span>
        </div>
        <div>
            <span><img src="~/Images/Rank/Bronze.png" /></span>
            <span>Bronze</span>
        </div>
        <div>
            <span><img src="~/Images/Rank/Silver.png" /></span>
            <span>Silver</span>
        </div>
        <div>
            <span><img src="~/Images/Rank/Gold.png" /></span>
            <span>Gold</span>
        </div>
        <div>
            <span><img src="~/Images/Rank/Platinum.png" /></span>
            <span>Platinum</span>
        </div>
        <div>
            <span><img src="~/Images/Rank/Diamond.png" /></span>
            <span>Diamond</span>
        </div>
        <div>
            <span><img src="~/Images/Rank/Challenger.png" /></span>
            <span>Challanger</span>
        </div>
        <div>
            <span><img src="~/Images/Rank/Master.png" /></span>
            <span>Master</span>
        </div>
        <div>
            <span><img src="~/Images/Rank/GrandMaster.png" /></span>
            <span>GrandMaster</span>
        </div>
        <div>
            <span><img src="~/Images/Rank/Legend.png" /></span>
            <span>Legend</span>
        </div>
    </div>
    <div id="wrapper1">
        <div id="newTournaments">
            @foreach (var t in Model)
            {
                <div id="@t.Id" class="tournamentList">
                    @if (t.IsLive)
                {
                        <div class="starts">
                            <span class="bold" id="tLive">LIVE</span>
                        </div>
                    }
                    else
                    {
                        <div class="starts">
                            <span class="bold">STARTS</span> <br />
                            <span>@t.StartDate.Value.Day @t.StartDate.Value.ToString("MMM") - @t.StartDate.Value.ToShortTimeString()</span>
                        </div>
                    }
                    <div>
                        <span class="bold">NAME</span><br />
                        <span>@t.Name</span>
                    </div>
                    <div id="type">
                        <span class="bold">TYPE</span><br />
                        <span>@t.Type</span>
                    </div>
                    <div>
                        <span class="bold">RANKS</span><br />
                        <span>@t.MinRank - @t.MaxRank</span>
                    </div>
                    <div id="participants">
                        <span class="glyphicon glyphicon-user"></span><br />
                        <span>@t.PlayersInTournament / @t.PlayerLimit</span>
                    </div>
                </div>
            }
        </div>
        <div id="leaderboard">
            <h4>LEADERBOARD</h4>
            <hr />
        </div>
        <div id="wrapper2">
            <h4>TOP PLAYERS</h4>
            <hr />
            <div id="twat">
                @foreach (User user in ViewBag.Top3HighestElo)
                {
                    <a>
                        <div id="@user.Id" style="background-image: url(@user.ProfilePic)" class="topPlayers"></div>
                        <div id="topPlayersInfo">
                            <h4>@user.Username</h4>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>































    @*<br /><br /><br />
    <h4>Här har du lite stats</h4><br />
    <div class="inline-block">
        <h4><u>All Users</u></h4>
        @foreach (User user in ViewBag.Users)
        {
            string rankPic = "/Images/Rank/" + user.Rank + ".png";
            <h5>@user.Username <img style="width: 25px" src="@rankPic"/></h5>
        }
    </div>
    <div class="inline-block">
        <h4><u>Ranked Game Winners</u></h4>
        @foreach (Game game in ViewBag.RGames)
        {
            if (game.Winner != null)
            {
                <h5>@game.Winner.Username</h5>
            }

        }
    </div>
    <div class="inline-block">
        <h4><u>Tournament Game Winners</u></h4>
        @foreach (Game game in ViewBag.TGames)
        {
            if (game.Winner != null)
            {
                <h5>@game.Winner.Username</h5>
            }
        }
    </div>
    <div class="inline-block">
        <h4><u>Tournament Winners</u></h4>
        @foreach (User user in ViewBag.TWinners)
        {
            <h5>@user.Username</h5>
        }
    </div>
    <div class="inline-block homeReports">
        <h4><u>Reports</u></h4>
        @foreach (Report report in ViewBag.Reports)
        {
            <h5>Report @reportNum</h5>
            <p>Reported player: <b>@report.ReportedUser.Username</b></p>
            <p>Reported by: <b>@report.Reportee.Username</b></p>
            <p>Reason: <b>@report.Reason</b></p>
            <p>Message: <b>@report.Message</b></p>
            <p>Submitted: <b>@report.SubmittedDate.Value.ToLongDateString()</b></p>
            <br />
            reportNum++;
        }
    </div>*@
</div>

<script src="~/Scripts/HomeJS.js"></script>