@using ArenaStars.Models;
@{
    int reportNum = 1;
    ViewBag.Title = "ArenaStars";
}

@Html.Partial("Modals")

<h2>Välkommen till ArenaStars!</h2>
<h4>Här har du lite stats</h4><br/>

<h3><u>All Users</u></h3>
@foreach (User user in ViewBag.Users)
{
    <h5>@user.Username</h5>
}

<br />

<h3><u>Ranked Games Winners</u></h3>
@foreach (Game game in ViewBag.RGames)
{
    <h4>@game.Winner.Username</h4>
}

<br />

<h3><u>Tournament Games Winners</u></h3>
@foreach (Game game in ViewBag.TGames)
{
    <h4>@game.Winner.Username</h4>
}

<br />

@*<h3><u>Tournament Winners</u></h3>
@foreach (Tournament tournament in ViewBag.Tournaments)
{
    <h4>@tournament.Winner.Username</h4>
}

<br />*@

<h3><u>Reports</u></h3>
@foreach (Report report in ViewBag.Reports)
{
    <h4>Report @reportNum</h4>
    <p>Reported player: <b>@report.ReportedUser.Username</b></p>
    <p>Reported by: <b>@report.Reportee.Username</b></p>
    <p>Reason: <b>@report.Reason</b></p>
    <p>Message: <b>@report.Message</b></p>
    <p>Submitted: <b>@report.SubmittedDate.Value.ToLongDateString()</b></p>
    <br />
    reportNum++;
}

