@using ArenaStars.Models;
@{
    int reportNum = 1;
    ViewBag.Title = "ArenaStars";
}

@Html.Partial("Modals")

<h2>Välkommen till ArenaStars!</h2>
<h4>Här har du lite stats</h4><br/>

<h3><u>All Winners (including tournaments)</u></h3>
@foreach (Game game in ViewBag.Games)
{
    <h4>@game.Winner.Username</h4>
}

@*<h3><u>Tournament Winners</u></h3>
@foreach (User user in ViewBag.TWinner)
{
    <h4>@user.Username<img class="trophyPic" src="@user.Tournaments[0].TrophyPic "/></h4>
}*@

<h3><u>Reports</u></h3>
@foreach (Report report in ViewBag.Reports)
{
    <h4>Report @reportNum</h4>
    <p>Reported player: <b>@report.ReportedUser.Username</b></p>
    <p>Reported by: <b>@report.Reportee.Username</b></p>
    <p>Reason: <b>@report.Reason</b></p>
    <p>Message: <b>@report.Message</b></p>
    <p>Submitted: <b>@report.SubmittedDate.Value.ToLongDateString()</b></p>
    <br />
    reportNum++;
}

