@model List<ArenaStars.Models.User>
@{
    ViewBag.Title = "Banlist";
    <link href="~/Content/Custom_CSS/BanPage.css" rel="stylesheet" />
}

<div class="white">
    <div id="banList">
        <h4>HALL OF SHAME</h4>
        <hr />
        <table id="leaderboardTable" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>PLAYER</th>
                    <th>RANK</th>
                    <th>BAN REASON</th>
                    <th>FROM</th>
                    <th>TO</th>
                    <th>EXPIRES</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in ViewBag.BannedUsers)
                {
                    string rankPic = "/Images/Rank/" + user.Rank + ".png";

                    <tr class="banItem IndividualBanOdd" id="@user.Username">
                        <td><img id="profilPic" src=@user.ProfilePic /> @user.Username</td>
                        <td><img id="rankPic" src=@rankPic /> @user.Rank</td>
                        <td>@user.BanReason</td>
                        <td>@user.BanFrom.ToString("yyyy-MM-dd")</td>
                        <td>@user.BanTo.ToString("yyyy-MM-dd")</td>
                        <td>@user.BanExpires days</td>
                    </tr>
                }
            </tbody>
        </table>
        <script type="text/javascript">
        $(".banItem").on("click", function () {
            window.location.href = "/User/Profile?username=" + $(this).attr("id");
        });
        </script>
    </div>
</div>





